.card {
  display: flex;
  flex-direction: column;
  position: relative;
  border: var(--primary-border);
  border-radius: 5px;
  width: 334px;
  /* padding: 25px; */
}

.card__link {
  text-decoration: none;
  cursor: default;
  flex-grow: 1;

}

.card__header {
  background: url(../../img/no-image.svg);
  display: block;
  width: 334px;
  height: 334px;
  -o-object-fit: cover;
  object-fit: cover;
}

.card__image {
  /* background: url(../../img/no-image.svg);
  display: block;
  width: 334px;
  height: 334px;
  min-width: 100%;
  -o-object-fit: cover;
  object-fit: cover; */
}

.card__label {
  position: absolute;
  top: 20px;
  left: 20px;
}

.card__content {
}

.card__info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  color: var(--primary-text-color);
  padding: 10px 25px 0;
}

.card__product-name {
  max-width: 284px;
  font-size: 14px;
  font-weight: 400;
  line-height: 142%;
  text-align: center;
  padding: 10px 0 5px 0;
}

.card__price-brief {
  max-width: 284px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  padding: 0 0 5px;
}

.card__current-price {
  font-size: 20px;
  font-weight: 700;
  line-height: 110%;
}

.card__old-price {
  color: var(--secondary-text-color);
  text-decoration: line-through;
}

.card__footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 10px;
  padding: 0 0 25px;
}

.cards-list {
  display: flex; 
  flex-flow: row wrap;
  gap: 20px;
}