.gallery {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
}

.gallery__sector {
  width: 100%;
  position: relative;
  z-index: 3;
}

.gallery__images,
.gallery__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__img {
  display: block;
  opacity: 0;
}

.gallery__img:first-child {
  opacity: 1;
}

.gallery__sector:nth-child(2):hover ~ .gallery__images .gallery__img:nth-child(2),
.gallery__sector:nth-child(3):hover ~ .gallery__images .gallery__img:nth-child(3),
.gallery__sector:nth-child(4):hover ~ .gallery__images .gallery__img:nth-child(4),
.gallery__sector:nth-child(5):hover ~ .gallery__images .gallery__img:nth-child(5) {
  opacity: 1;
}

.gallery__bullets {
  position: absolute;
  left: 50%;
  bottom: 15px;
  transform: translateX(-50%);
  display: flex;
  gap: 4px;
  list-style: none;
  z-index: 3;
}

.gallery__bullet {
  width: 20px;
  height: 2px;
  background: rgba(0, 0, 0, .2);
  border-radius: 2px;
}

.gallery__bullet:first-child {
  background: var(--primary-hover-color);
}

.gallery__sector:nth-child(2):hover ~ .gallery__bullets .gallery__bullet:nth-child(2),
.gallery__sector:nth-child(3):hover ~ .gallery__bullets .gallery__bullet:nth-child(3),
.gallery__sector:nth-child(4):hover ~ .gallery__bullets .gallery__bullet:nth-child(4),
.gallery__sector:nth-child(5):hover ~ .gallery__bullets .gallery__bullet:nth-child(5) {
  background: var(--accent-color)
}

.gallery__sector:nth-child(2):hover ~ .gallery__bullets .gallery__bullet:nth-child(1),
.gallery__sector:nth-child(3):hover ~ .gallery__bullets .gallery__bullet:nth-child(1),
.gallery__sector:nth-child(4):hover ~ .gallery__bullets .gallery__bullet:nth-child(1),
.gallery__sector:nth-child(5):hover ~ .gallery__bullets .gallery__bullet:nth-child(1) {
  background: rgba(0, 0, 0, .2);
}

@media (max-width: 540px) {
  .gallery {
    padding: 0 70px;
  }
}