.icon-group {
  display: flex;
  flex-flow: column wrap;
  gap: 5px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 5;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  background: var(--primary-bg-color);
  cursor: pointer;
  border-radius: 50px;
  transition: var(--primary-transition);
  position: relative;
  z-index: 5;
}

.icon--active {
  background: var(--accent-color);
}

.icon:hover {
  background-color: var(--accent-color);
}
