.slider-button {
  position: relative;
  width: 40px;
  height: 40px;
  background: var(--primary-bg-color);
  border: var(--primary-border);
  border-radius: 5px;
  text-indent: -1000px;
  overflow: hidden;
  transition: var(--primary-transition);
}

.slider-button:hover {
  background: var(--primary-hover-color);
}

.slider-button__arrow {
  display: block;
  width: 12px;
  height: 21px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  fill: none;
  stroke: black;
  stroke-width: 2px;
  stroke-linecap: round;
}

@media (max-width: 720px) {
  .slider-button {
    display: none;
  }
}