.slider-button {
  position: relative;
  width: 40px;
  height: 40px;
  background: none;
  border: var(--primary-border);
  border-radius: 5px;
  text-indent: -1000px;
  overflow: hidden;
  transition: 0.1s ease-in-out;
}

.slider-button:hover {
  background: var(--primary-hover-color);
}

.slider-button__arrow {
  position: absolute;
  display: block;
  width: 12px;
  height: 21px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  fill: none;
  stroke: black;
  stroke-width: 2px;
  stroke-linecap: round;
}