.stepper {
  display: flex;
  width: 100px;
  height: 50px;
  border: var(--primary-border);
  border-radius: 5px;
}

.stepper__arrow {
  position: relative;
  width: 40px;
  text-indent: -1000px;
  overflow: hidden;
  cursor: pointer;
  transition: var(--primary-transition);
}

.stepper__arrow:hover {
  background-color: rgba(0, 0, 0, .2);
}

.stepper__input {
  font-size: 18px;
  font-weight: 400;
  flex-grow: 1;
  width: 100%;
  border: none;
  color: #4e4c50;
  text-align: center;
  padding: 0;
  cursor: pointer;
}

.stepper__input:focus {
  outline: none;
}

.stepper__arrow--down {
  background: url(../../img/stepper-minus.svg) no-repeat center;
  padding: 10px 10px 5px;
}

.stepper__arrow--up {
  background: url(../../img/stepper-plus.svg) no-repeat center;
  padding: 10px 5px 10px;
}

@media (max-width: 720px) {
  .stepper {
    display: none;
  }
}