.tabs__list {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 25px;
  margin-bottom: 40px;
}

.tabs__list-item {
  font-size: 24px;
  font-weight: 400;
  line-height: 141%;
  color: var(--secondary-link-color);
}

.tabs__list-item--inactive {
  border-bottom: var(--secondary-border);
}

@media (max-width: 576px) {
  .tabs__list {
    margin-bottom: 25px;
  }
}