.tabs__list {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 25px;
  margin-bottom: 40px;
}

.tabs__list-item {
  font-size: 24px;
  font-weight: 400;
  line-height: 141%;
  color: var(--secondary-link-color);
}

.tabs__list-item--inactive {
  border-bottom: var(--secondary-border);
  order: 3;
}

@media (max-width: 720px) {
  .tabs__list {
    flex-direction: column;
    gap: 10px;
    margin-bottom: 25px;
    align-items: flex-start;
  }

  .tabs__list-item {
    font-size: 14px;
  }
}