.title {
  font-weight: 700;
  font-size: 34px;
  line-height: 118%;
  color: var(--primary-text-color);
  text-transform: var(--primary-text-transform);
}

@media (max-width: 720px) {
  .title {
    font-size: 18px;
  }
}