:root {
  /* COLORS */
  --accent-color: #f1d264;
  --primary-hover-color: #e8b910;

  --primary-bg-color: #fff;
  --secondary-bg-color: #f5f5f5;

  /* TYPOGRAPHY */
  --primary-font-family: "Rubik", sans-serif;
  --primary-text-transform: uppercase;
  --primary-text-color: #000;
  --secondary-text-color: #8d9295;
  --secondary-link-color: #535658;

  /* BORDERS */
  --primary-border-color: #ecf0f4;
  --primary-border: 1px solid var(--primary-border-color);
  --secondary-border-color: #535658;
  --secondary-border: 1px dotted var(--secondary-border-color);

  /* HOVERS */
  --primary-transition: .1s ease-in;
}
